@CHARSET "UTF-8";


#customForm3 label{
	display: block;
	color: #797979;
	font-weight: 700;
	line-height: 1.4em;
        
}
#errorFull{
    color: red;
    font-size: 11px;
    font-style: italic;
    margin-left: 10px;
   
}


#customForm3 div span.error {
    color: #E46C6E;
}
#customForm3 input{

/*	padding: 6px;
	color: #949494;
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #cecece;*/
}
#customForm3 input.error{
	background: #f8dbdb;
	border-color: #e77776;
}
#customForm3 textarea{
	width: 550px;
	height: 80px;
	padding: 6px;
	color: #adaeae;
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #cecece;
}
#customForm3 textarea.error{
	background: #f8dbdb;
	border-color: #e77776;
}

#customForm3 #send{
	background: #6f9ff1;
	color: #fff;
	font-weight: 700;
	font-style: normal;
	border: 0;
	cursor: pointer;
}
#customForm3 #send:hover{
	background: #79a7f1;
}


#error{
	margin-bottom: 20px;
	border: 1px solid #efefef;
}
#error ul{
	list-style: square;
	padding: 5px;
	font-size: 11px;
}
#error ul li{
	list-style-position: inside;
	line-height: 1.6em;
}
#error ul li strong{
	color: #e46c6d;
}
#error.valid ul li strong{
	color: #93d72e;
}
.clear{
	clear: both;
	height: 0;
	visibility: hidden;
	display: block;
}

#customForm3 div span {
    color: #B1B1B1;
    font-size: 11px;
    font-style: italic;
    margin-left: 10px;
}

