@charset "utf-8";

#Main div.section{
	margin:40px 13px 30px 13px;
	overflow:hidden;
	line-height:1.8;text-align:justify
}

/*-----------------------------------------------------
fig
-------------------------------------------------------*/

#Main div.section p.text1{
	width:350px;
	float:left;
	padding:20px 0 30px 0;
}
#Main div.section p.text2{
	width:430px;
	float:right;
	padding:15px 0;
}
#Main div.section p.fig1{
	float:right;
	padding:15px 0 0 10px;
}
#Main div.section p.fig2{
	float:left;
	padding:15px 0 0 10px;
}

/*-----------------------------------------------------
section
-------------------------------------------------------*/
#Main div.section p{
	padding:20px 0 0 0;
}

/* section-inside
---------------------------------------*/
#Main div.section div.section-inside{
	margin:20px 0 30px 0;
	padding:20px 0 0 0;
	background:url("/images/common/main_bg_sectioninside.jpg");
}
#Main div.section div.section-inside h4{
	padding:0 13px 15px 13px;
	background:url("/images/common/main_bg_line.gif") repeat-x 0 100%;
}
#Main div.section div.section-inside p.photo{
	float:left;
	padding:20px;
}
#Main div.section div.section-inside p.photo img{
	border:1px solid #E3E3E3;
}
#Main div.section div.section-inside p.text{
	width:450px;
	padding:20px 0;
	float:left;
}

#Main div.section div.section-inside h5{
	clear:both;
	padding:0 20px 20px 20px;
}
#Main div.section div.section-inside ul{
	overflow:hidden;
	_zoom:1;
}
#Main div.section div.section-inside ul li{
	float:left;
	padding:0 0 20px 20px;
}

